
//Test content
.container {
    margin: 10px;
  }

  //Main content

  .background{
    background-color: rgba(15, 15, 15, 0.966);
    min-height: 1200px;
  }

  .mat-align-tabs,.label{
    color: yellow;
  }


  .mat-card-image{
    height: 250px
  }
  
  .example-header-image {
    background-image: url('https://cdn2.vectorstock.com/i/1000x1000/68/31/video-game-icon-vector-5246831.jpg');
    background-size: cover;
  }


  .matcard{
    min-height: 470px;
  }

  .yesBtn{
    background-color: rgb(16, 179, 24);
    margin-left:30px;
    font-size: 20px
  }

  .noBtn{
    background-color: red;
    margin-left:30px;
    font-size: 20px
  }

  .paging{
    margin-bottom: 5px;
  }

 

  