
 .imgBackground{
     width: 100%;
     height: 200px;
     margin-bottom: -4px
 }

 .searchBar{
     color: rgb(223, 150, 41);
 }
  
 .nameAcount{
    margin-right: 4px;
    color: rgb(223, 150, 41);
 }
  
