.bgFooter{
    background-color:rgba(0, 0, 0, 0.856);
    color: white;
    min-height: 500px;
    margin-top: -30px
}

.mat-fab{
    margin-top: 40px;
    color:black;
    background-color:white;
}

.title-footer,{
    margin-top: 30px;
    margin-left: 50px
}

h2{
    color:orange
}

.signature{
    color: orange;
    margin-top:50px;
    font-weight: inherit
}
