<div class="bgFooter container">
    <div fxLayoutAlign="center" fxLayoutGap="30px">
        <button mat-fab>
            <mat-icon>facebook</mat-icon>
        </button>
        <button mat-fab>
            <mat-icon>games</mat-icon>
        </button>
        <button mat-fab>
            <mat-icon>hd</mat-icon>
        </button>
        <button mat-fab>
            <mat-icon>mic</mat-icon>
        </button>
    </div>
    <div fxLayout fxLayoutGap="13%">
        <div class="title-footer">
            <h2>Social</h2>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Youtube</p>
            <p>twitter</p>
        </div>
        <div class="title-footer">
            <h2>Services</h2>
            <p>Dowload</p>
            <p>Feedback</p>
            <p>Report bug</p>
        </div>
        <div class="title-footer">
            <h2>Activity</h2>
            <p>HomePage</p>
            <p>Cart</p>
            <p>Introduce</p>
            <p>Detail Game </p>
        </div>
        <div class="title-footer" fxHide.sm fxHide.xs>
            <h2>Introduce</h2>
            <p style="margin-right:50px">Ubisoft Entertainment is a French computer and videogame developer and publisher with headquarters in Montreuil-sous-Bois,
                France. It was founded in 1986 by five brothers, of which Yves Guillemot serves as chairman and CEO. The
                company consists of 26 studios spread across 18 countries.</p>
        </div>
    </div>
    <div fxLayoutAlign="center" class="signature">
        <i>Design by Tran Dao Thien Luan</i>
    </div>
</div>