:host {
    width: 25%;
  
    @media screen and (max-width:1600px) {
      width: 25%;
    }
  
    @media screen and (max-width:1200px) {
      width: 33.33%;
    }
  
    @media screen and (max-width:800px) {
      width: 50%;
    }
  
    @media screen and (max-width:500px) {
      width: 100%;
    }
  }
  
  .product:hover {
    border-color: rgb(79, 155, 218);
    border-width: 4px;
    opacity: 1;
  }
  
  .product {
    border-color: gray;
    border-radius: 4px;
  }