<!-- <div *ngIf="game">
    <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{game.name}}</mat-card-title>
            <mat-card-subtitle>{{game.classify}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/LOL.jpg" alt="LOLIMG">
          <mat-card-content>
            <p>
             {{game.des}}
            </p>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            <button mat-button>Detail</button>
            <button mat-button>Dowload</button>
          </mat-card-actions>
        </mat-card>
</div> -->