<div class="background">
    <h2 class="title">Game online list</h2>
    <mat-grid-list cols="4" rowHeight="4:5">
        <mat-grid-tile>
            <div style="width:95%">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>League Of Legend</mat-card-title>
                        <mat-card-subtitle>Game online</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/excel.jpg" alt="LOLIMG">
                    <mat-card-content>
                        <p>
                            League of Legends is a multiplayer online battle arena video game developed and published by Riot Games on Windows and MacOS
                            platforms.
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayoutAlign="center">
                        <button mat-button>Detail</button>
                        <button mat-button>Dowload</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div style="width:95%">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>League Of Legend</mat-card-title>
                                <mat-card-subtitle>Game online</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/excel.jpg" alt="LOLIMG">
                            <mat-card-content>
                                <p>
                                    League of Legends is a multiplayer online battle arena video game developed and published by Riot Games on Windows and MacOS
                                    platforms.
                                </p>
                            </mat-card-content>
                            <mat-card-actions fxLayoutAlign="center">
                                <button mat-button>Detail</button>
                                <button mat-button>Dowload</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div style="width:95%">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>League Of Legend</mat-card-title>
                                <mat-card-subtitle>Game online</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/excel.jpg" alt="LOLIMG">
                            <mat-card-content>
                                <p>
                                    League of Legends is a multiplayer online battle arena video game developed and published by Riot Games on Windows and MacOS
                                    platforms.
                                </p>
                            </mat-card-content>
                            <mat-card-actions fxLayoutAlign="center">
                                <button mat-button>Detail</button>
                                <button mat-button>Dowload</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>League Of Legend</mat-card-title>
                        <mat-card-subtitle>Game online</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/excel.jpg" alt="LOLIMG">
                    <mat-card-content>
                        <p>
                            League of Legends is a multiplayer online battle arena video game developed and published by Riot Games on Windows and MacOS
                            platforms.
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayoutAlign="center">
                        <button mat-button>Detail</button>
                        <button mat-button>Dowload</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div style="width:95%">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>League Of Legend</mat-card-title>
                                <mat-card-subtitle>Game online</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/excel.jpg" alt="LOLIMG">
                            <mat-card-content>
                                <p>
                                    League of Legends is a multiplayer online battle arena video game developed and published by Riot Games on Windows and MacOS
                                    platforms.
                                </p>
                            </mat-card-content>
                            <mat-card-actions fxLayoutAlign="center">
                                <button mat-button>Detail</button>
                                <button mat-button>Dowload</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div style="width:95%">
                        <mat-card>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>League Of Legend</mat-card-title>
                                <mat-card-subtitle>Game online</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/excel.jpg" alt="LOLIMG">
                            <mat-card-content>
                                <p>
                                    League of Legends is a multiplayer online battle arena video game developed and published by Riot Games on Windows and MacOS
                                    platforms.
                                </p>
                            </mat-card-content>
                            <mat-card-actions fxLayoutAlign="center">
                                <button mat-button>Detail</button>
                                <button mat-button>Dowload</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>